{
  "openapi": "3.0.1",
  "info": {
    "title": "ITscope - Interactive API",
    "termsOfService": "https://cdn.itscope.com/documents/19/12446/ITscope-AGB-Mai-2023.pdf",
    "contact": {
      "name": "ITscope GmbH",
      "url": "https://www.itscope.com",
      "email": "support@itscope.com"
    },
    "license": {
      "name": "ITscope Licence",
      "url": "https://cdn.itscope.com/documents/19/12446/ITscope-AGB-Mai-2023.pdf"
    },
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https://api.itscope.com/2.1"
    }
  ],
  "tags": [
    {
      "name": "businessdocuments",
      "description": "Operations about business documents"
    },
    {
      "name": "businesscarts",
      "description": "operations about the shopping cart"
    },
    {
      "name": "company",
      "description": "Operations about companies"
    },
    {
      "name": "businessdeals-purchase",
      "description": "Operations about purchase orders"
    },
    {
      "name": "businessdeals-sales",
      "description": "Operations about sales orders"
    },
    {
      "name": "businessdeals",
      "description": "Operations about deals"
    },
    {
      "name": "info",
      "description": "General operations"
    },
    {
      "name": "products",
      "description": "Operations about products"
    },
    {
      "name": "businessquotes",
      "description": "Operations about quotes"
    }
  ],
  "paths": {
    "/business/documents/{transactionId}/{view}.{type}": {
      "get": {
        "tags": [
          "businessdocuments"
        ],
        "summary": "Fetch business documents by an ITscope Transaction ID",
        "description": "Fetch certain business documents by an ITscope Transaction ID. The current document format is openTRANS 2.1",
        "operationId": "getDocumentById",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "ITscope transaction ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "ORDER",
              "enum": [
                "QUOTATION",
                "ORDER",
                "ORDERRESPONSE",
                "DISPATCHNOTIFICATION",
                "INVOICE"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "pdf"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Header parameter for the datasheet language",
            "schema": {
              "type": "string",
              "default": "de",
              "enum": [
                "de",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business documents"
          },
          "204": {
            "description": "Transaction ID not found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan. / The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/documents/{orderId}.{type}": {
      "get": {
        "tags": [
          "businessdocuments"
        ],
        "summary": "Fetch all business documents by an ITscope purchase order ID in one zip file",
        "description": "Fetch all business documents by an ITscope purchase order ID as PDF or openTRANS 2.1 in one zip file",
        "operationId": "getDocumentsById",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "pdf"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Header parameter for the datasheet language",
            "schema": {
              "type": "string",
              "default": "de",
              "enum": [
                "de",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business documents"
          },
          "204": {
            "description": "Transaction ID not found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/documents/validate": {
      "post": {
        "tags": [
          "businessdocuments"
        ],
        "summary": "Validate order documents in openTRANS v2.1 format semantically",
        "description": "ORDER documents in the openTRANS v2.1 format can be checked whether they are semantically correct for ITscope.",
        "operationId": "validate",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Validation not successful"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/documents/validateBmecat12": {
      "post": {
        "tags": [
          "businessdocuments"
        ],
        "operationId": "validateBmecat12Schema",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {},
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/documents/validateschema": {
      "post": {
        "tags": [
          "businessdocuments"
        ],
        "summary": "Validate documents in openTRANS V2.1 format against the openTRANS schema",
        "description": "Documents of type ORDER, ORDERRESPONSE, DISPATCHNOTIFICATION, INVOICE and QUOTATION can be checked whether they are in the valid openTRANS 2.1 format according to the openTRANS schema.",
        "operationId": "validateSchema",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Validation not successful"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/{cartId}/cartlineitems": {
      "post": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Add products to the cart",
        "description": "Add one or more products with a given quantity to the shopping cart. If no supplier is given, then ITscope will determine your partner supplier with the lowest price.",
        "operationId": "addLineItem",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. Use \"pool\" to access the pool",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optimisationStrategy",
            "in": "query",
            "description": "Optionally optimise the cart after the line items have been added using the selected strategy.",
            "schema": {
              "type": "string",
              "enum": [
                "manual",
                "minprice",
                "minpricepartner",
                "minsuppliers"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of one of the following combinations: Quantity (greater than 0) and: a) ITscope product ID (puid) with an optional supplier ID and optional supplierItemId OR b) supplier ID and supplier item ID. The supplier IDs can be retrieved via GET /company/distributor/, the supplier item ID is the proprietary product number of the supplier.",
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CartLineItemOrderContainer"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartLineItemOrderContainer"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid input: The data provided by the input file is invalid"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/archive/{cartId}": {
      "put": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Archive cart",
        "description": "Archive a cart by a specific cart id",
        "operationId": "archiveCart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. Use \"pool\" to access the pool",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts": {
      "post": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Create a cart",
        "description": "Create a shopping cart with the given name. The cart will be assigned to the user making the request.",
        "operationId": "createCart",
        "requestBody": {
          "description": "The cart's name",
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CartOrder"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartOrder"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid input: The data provided by the input file is invalid"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/{cartId}": {
      "put": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Edit a cart",
        "description": "Edit a shopping cart. The pool cannot be edited.",
        "operationId": "editCart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. \"pool\" is not accepted here",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The cart's name",
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CartOrder"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartOrder"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid input: The data provided by the input file is invalid"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Remove a cart",
        "description": "Remove a shopping cart and all its line items. The pool cannot be removed.",
        "operationId": "removeCart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. \"pool\" is not accepted here",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/{cartId}/{view}.{type}": {
      "get": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Show cart",
        "description": "Show basic cart information with cart.xml or cart.json. Show cart line items with cartlineitems.xml or cartlineitems.json.",
        "operationId": "getCartInfo",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. Use \"pool\" to access the pool",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "cart",
              "enum": [
                "cart",
                "cartlineitems"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/{view}.{type}": {
      "get": {
        "tags": [
          "businesscarts"
        ],
        "summary": "List all carts",
        "description": "List all shopping carts.",
        "operationId": "listCarts",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "cart",
              "enum": [
                "cart"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/{cartId}/optimise": {
      "put": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Optimise cart",
        "description": "Optimise the shopping cart using the given strategy. The updated line items will be returned.",
        "operationId": "optimise",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. Use \"pool\" to access the pool",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optimisationStrategy",
            "in": "query",
            "description": "The strategy to use for optimising the cart",
            "required": true,
            "schema": {
              "type": "string",
              "default": "minprice",
              "enum": [
                "manual",
                "minprice",
                "minpricepartner",
                "minsuppliers"
              ]
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid input: The data provided by the input file is invalid"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/carts/{cartId}/cartlineitems/{lineItemId}": {
      "delete": {
        "tags": [
          "businesscarts"
        ],
        "summary": "Remove products from the cart",
        "description": "Remove a line item from your shopping cart.",
        "operationId": "removeLineItem",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "ITscope cart ID. Use \"pool\" to access the pool",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "path",
            "description": "ITscope shopping cart line item ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "The current plan is not sufficient for this action."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/company/distributor/{view}.{type}": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "List of all distributors",
        "description": "A list of all distributors for master data mappings",
        "operationId": "queryDistributors",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "view",
            "in": "path",
            "description": "View (scope of data)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "company",
              "enum": [
                "company",
                "eservices"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "companies",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/company"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "companies",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/company"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No company found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/company/manufacturer/{view}.{type}": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "List of all manufacturers",
        "description": "A liste of all manufacturers for master data mappings",
        "operationId": "queryManufacturers",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "view",
            "in": "path",
            "description": "View (scope of data)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "company",
              "enum": [
                "company",
                "eservices"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "companies",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/company"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "companies",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/company"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No company found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/advise/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Advise specific order",
        "description": "Advise an order by a specific order id, a valid OPENTRANS 2.1 document of type DISPATCHNOTIFICATION will be created automatically",
        "operationId": "adviseDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Advise an order with an OPENTRANS 2.1 DISPATCHNOTIFICATION document",
        "description": "Send a valid OPENTRANS 2.1 document of type DISPATCHNOTIFICATION to advise or partially advise an order by a specific order id",
        "operationId": "adviseDealPost",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/archive/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Archive order",
        "description": "Archive an order by a specific order id",
        "operationId": "archiveDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/cancel/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Cancel specific order",
        "description": "Cancel an order by a specific order id, a valid OPENTRANS 2.1 document of type ORDERRESPONSE will be created automatically",
        "operationId": "cancelDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/confirm/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Confirm specific order",
        "description": "Confirm an order by a specific order id, a valid OPENTRANS 2.1 document of type ORDERRESPONSE will be created automatically",
        "operationId": "confirmDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Confirm an order with an OPENTRANS 2.1 ORDERRESPONSE document",
        "description": "Send a valid OPENTRANS 2.1 document of type ORDERRESPONSE to confirm or reject or cancel an order by a specific order id",
        "operationId": "confirmDealPost",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            },
            "text/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/{dealId}/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Fetch an order by the ITscope order ID",
        "description": "Fetch single orders by ITscope order ID. Links to the corresponding openTRANS 2.1 documents are in the response.",
        "operationId": "getDealByOrderId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json",
                "pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Fetch list of orders [DEPRECATED]",
        "description": "Fetch a list of orders and their statuses - Instead of this, please use the corresponding method for /sales or /purchase",
        "operationId": "getDealList",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "lastUpdateDateFrom",
            "in": "query",
            "description": "The start date of last update data in the format yyyy-MM-ddThh:mm:ss. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateTo",
            "in": "query",
            "description": "The end date of last update data in the format yyyy-MM-ddThh:mm:ss. Default value is the actual date. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "required": true,
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "businessType",
            "in": "query",
            "description": "Filter for the business type: PURCHASE: outgoing deals, for sellers - SALE: ingoing deals, for resellers",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PURCHASE",
              "enum": [
                "PURCHASE",
                "SALE"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the received orders",
            "schema": {
              "type": "string",
              "default": "LAST_MODIFIED",
              "enum": [
                "LAST_MODIFIED",
                "SENT_DESC",
                "SENT_ASC",
                "SUPPLIER",
                "ID"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/purchase/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals-purchase",
          "businessdeals"
        ],
        "summary": "Fetch list of purchase orders",
        "description": "Fetch list of purchase orders",
        "operationId": "getOrderList",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "lastUpdateDateFrom",
            "in": "query",
            "description": "The start date of last update data in the format yyyy-MM-ddThh:mm:ss. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateTo",
            "in": "query",
            "description": "The end date of last update data in the format yyyy-MM-ddThh:mm:ss. Default value is the actual date. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "required": true,
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the received orders",
            "schema": {
              "type": "string",
              "default": "LAST_MODIFIED",
              "enum": [
                "LAST_MODIFIED",
                "SENT_DESC",
                "SENT_ASC",
                "SUPPLIER",
                "ID"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/purchase/send": {
      "post": {
        "tags": [
          "businessdeals-purchase",
          "businessdeals"
        ],
        "summary": "Send a new order via ITscope",
        "description": "Send a new order in valid openTRANS 2.1 format via ITscope to a distributor",
        "operationId": "newDeal",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/purchase/search/{filter}/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals-purchase",
          "businessdeals"
        ],
        "summary": "Search purchase orders with filters",
        "description": "Search purchase orders with filters",
        "operationId": "searchOrders",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "filter",
            "in": "path",
            "description": "Possible criteria are keywords, orderId, ownOrderId, customerOrderId, cartId e.g. orderId=11SRRK-150126-1136.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateFrom",
            "in": "query",
            "description": "The start date of last update data in the format yyyy-MM-ddThh:mm:ss. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateTo",
            "in": "query",
            "description": "The end date of last update data in the format yyyy-MM-ddThh:mm:ss. Default value is the actual date. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the received orders",
            "schema": {
              "type": "string",
              "default": "LAST_MODIFIED",
              "enum": [
                "LAST_MODIFIED",
                "DATE_DESC",
                "DATE_ASC",
                "SUPPLIER",
                "ID"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/sales/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals-sales",
          "businessdeals"
        ],
        "summary": "Fetch list of sales orders",
        "description": "Fetch list of sales orders",
        "operationId": "getDealList_1",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "lastUpdateDateFrom",
            "in": "query",
            "description": "The start date of last update data in the format yyyy-MM-ddThh:mm:ss. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateTo",
            "in": "query",
            "description": "The end date of last update data in the format yyyy-MM-ddThh:mm:ss. Default value is the actual date. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "required": true,
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the received orders",
            "schema": {
              "type": "string",
              "default": "LAST_MODIFIED",
              "enum": [
                "LAST_MODIFIED",
                "SENT_DESC",
                "SENT_ASC",
                "SUPPLIER",
                "ID"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "testOrder",
            "in": "query",
            "description": "Filter for test orders: true/false",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/sales/send": {
      "post": {
        "tags": [
          "businessdeals-sales",
          "businessdeals"
        ],
        "summary": "Place a b2b shop customer order",
        "description": "Receive a new order from a b2b shop customer in valid openTRANS 2.1 format",
        "operationId": "newDeal_1",
        "parameters": [
          {
            "name": "testOrder",
            "in": "query",
            "description": "Whether this is a test order or not",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/sales/search/{filter}/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals-sales",
          "businessdeals"
        ],
        "summary": "Search sales orders with filters",
        "description": "Search sales orders with filters",
        "operationId": "searchDeals",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "filter",
            "in": "path",
            "description": "Possible criteria are keywords, orderId, ownOrderId, customerOrderId, cartId e.g. orderId=11SRRK-150126-1136.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateFrom",
            "in": "query",
            "description": "The start date of last update data in the format yyyy-MM-ddThh:mm:ss. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateTo",
            "in": "query",
            "description": "The end date of last update data in the format yyyy-MM-ddThh:mm:ss. Default value is the actual date. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the received orders",
            "schema": {
              "type": "string",
              "default": "LAST_MODIFIED",
              "enum": [
                "LAST_MODIFIED",
                "DATE_DESC",
                "DATE_ASC",
                "SUPPLIER",
                "ID"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "testOrder",
            "in": "query",
            "description": "Filter for test orders: true/false",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/invoice/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Invoice specific order",
        "description": "Invoice an order by a specific order id, a valid OPENTRANS 2.1 document of type INVOICE will be created automatically",
        "operationId": "invoiceDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Invoice an order with an OPENTRANS 2.1 INVOICE document",
        "description": "Send a valid OPENTRANS 2.1 document of type INVOICE to invoice or partially invoice an order by a specific order id",
        "operationId": "invoiceDealPost",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            },
            "text/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/invoicexrechnung/{dealId}": {
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Invoice an order with an X INVOICE document",
        "description": "Send a valid X document of type INVOICE to invoice or partially invoice an order by a specific order id",
        "operationId": "invoiceDealPostXPdf",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            },
            "text/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/invoicezugferd1/{dealId}": {
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Invoice an order with an ZUGFeRD 1.0 INVOICE document",
        "description": "Send a valid ZUGFeRD 1.0 document of type INVOICE to invoice or partially invoice an order by a specific order id",
        "operationId": "invoiceDealPostZugferd1Pdf",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/invoicezugferd/{dealId}": {
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Invoice an order with an ZUGFeRD 2.0 INVOICE document",
        "description": "Send a valid ZUGFeRD 2.0 document based on the CII D22B standard of type INVOICE to invoice or partially invoice an order by a specific order id",
        "operationId": "invoiceDealPostZugferd2Pdf",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/send": {
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Send a new order via ITscope",
        "description": "Send a new order in valid openTRANS 2.1 format via ITscope to a distributor",
        "operationId": "newDeal_2",
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/send/{distributorId}": {
      "post": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Send a new order via ITscope [DEPRECATED]",
        "description": "Send a new order in valid openTRANS 2.1 format via ITscope to a distributor. Note: This method is deprecated. Use /business/deals/send instead and include the distributor ID in your openTRANS order.",
        "operationId": "newDealDeprecated",
        "parameters": [
          {
            "name": "distributorId",
            "in": "path",
            "description": "ITscope distributor ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/orderedelsewhere/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Order elsewhere specific order",
        "description": "Order elsewhere an order by a specific order id",
        "operationId": "orderedElsewhereDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/partiallyadvise/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Partially advise specific order",
        "description": "Partially advise an order by a specific order id, an OPENTRANS 2.1 document of type DISPATCHNOTIFICATION will not be created automatically",
        "operationId": "partiallyadviseDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/partiallyinvoice/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Partially invoice specific order",
        "description": "Partially invoice an order by a specific order id, an OPENTRANS 2.1 document of type INVOICE will not be created automatically",
        "operationId": "partiallyinvoiceDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/reject/{dealId}": {
      "put": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Reject specific order",
        "description": "Reject an order by a specific order id, a valid OPENTRANS 2.1 document of type ORDERRESPONSE will be created automatically",
        "operationId": "rejectDeal",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "description": "ITscope order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suppressMail",
            "in": "query",
            "description": "Supress the sending of status update mails to the buyer",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "404": {
            "description": "No orders found"
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/business/deals/search/{filter}/{view}.{type}": {
      "get": {
        "tags": [
          "businessdeals"
        ],
        "summary": "Search orders with filters [DEPRECATED]",
        "description": "Search orders with filters - Instead of this, please use the corresponding method for /sales or /purchase",
        "operationId": "searchDeals_1",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (document)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "deal",
              "enum": [
                "deal"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ]
            }
          },
          {
            "name": "filter",
            "in": "path",
            "description": "Possible criteria are keywords, orderId, ownOrderId, customerOrderId, cartId e.g. orderId=11SRRK-150126-1136.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateFrom",
            "in": "query",
            "description": "The start date of last update data in the format yyyy-MM-ddThh:mm:ss. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdateDateTo",
            "in": "query",
            "description": "The end date of last update data in the format yyyy-MM-ddThh:mm:ss. Default value is the actual date. Timezone information is optional yyyy-MM-ddThh:mm:ss±hh:mm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archiv",
            "in": "query",
            "description": "Filter for the archive flag: ARCHIVED: archived, NOTARCHIVED: not archived",
            "schema": {
              "type": "string",
              "default": "NOTARCHIVED",
              "enum": [
                "ARCHIVED",
                "NOTARCHIVED"
              ]
            }
          },
          {
            "name": "businessType",
            "in": "query",
            "description": "Filter for the business type: PURCHASE: outgoing deals, for sellers - SALE: ingoing deals, for resellers",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PURCHASE",
              "enum": [
                "PURCHASE",
                "SALE"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the received orders",
            "schema": {
              "type": "string",
              "default": "LAST_MODIFIED",
              "enum": [
                "LAST_MODIFIED",
                "DATE_DESC",
                "DATE_ASC",
                "SUPPLIER",
                "ID"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Large result sets are bundled in multiple pages with 50 results per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found orders",
            "headers": {},
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "xml": {
                    "name": "deals",
                    "wrapped": true
                  },
                  "items": {
                    "$ref": "#/components/schemas/deal"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No orders found"
          },
          "401": {
            "description": "Not authorized: Login and API key of the user required as basic authentication"
          },
          "403": {
            "description": "Customer quota exceeded: Free API requests expired. Please buy an API/Export plan."
          },
          "500": {
            "description": "An exception occurred while processing the request."
          },
          "503": {
            "description": "Number of valid requests per minute exceeded"
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/info/apidoc/{view}": {
      "get": {
        "tags": [
          "info"
        ],
        "operationId": "apidoc",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "standard"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "text/html": {},
              "application/xml": {},
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/info/quota": {
      "get": {
        "tags": [
          "info"
        ],
        "summary": "Fetch quota",
        "description": "Fetches the quota.",
        "operationId": "quota",
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {}
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/info/schema/{view}.xsd": {
      "get": {
        "tags": [
          "info"
        ],
        "summary": "Fetch XML schema for different view types of the ITscope API",
        "description": "Fetches the XML schemas for different view types of the ITscope API.",
        "operationId": "schema",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "description": "View (scope of data)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "standard",
              "enum": [
                "developer",
                "developerUpdate",
                "standard",
                "standardUpdate",
                "company",
                "deal",
                "quote",
                "producttype",
                "cart",
                "cartlineitems"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/xml": {}
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/products/exports/{uuid}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Download an export",
        "description": "Download an export via ID, which was defined in ITscope.com.",
        "operationId": "export",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "ID of the export which should be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid export ID"
          },
          "404": {
            "description": "Export not found"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/products/datasheet/cnetid/{cnetid}/{view}.{type}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Fetch datasheet by 1WorldSync ID",
        "description": "Fetch product datasheet by 1WorldSync ID (for example S22650172)",
        "operationId": "queryDatasheetByCnetId",
        "parameters": [
          {
            "name": "cnetid",
            "in": "path",
            "description": "1WorldSync ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "path",
            "description": "View (scope of data)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "datasheet",
              "enum": [
                "datasheet"
              ]
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Output data format",
            "required": true,
            "schema": {
              "type": "string",
              "default": "html",
              "enum": [
                "html",
                "pdf"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Datasheet language",
            "schema": {
              "type": "string",
              "default": "",
              "enum": [
                "de",
                "en",
                "nl",
                "fr",
                "it",
                "es"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Header parameter for the datasheet language",
            "schema": {
              "type": "string",
              "default": "de",
              "enum": [
                "de",
                "en",
                "nl",
                "fr",
                "it",
                "es"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No product found which match the given filter criteria"
          },
          "400": {
[...]
